html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
/*
body {
  margin-bottom: 60px;
}
*/
.content {
    padding: 40px 0;
}
/*
.filter-wrapper{
  padding: 30px 0;
}*/

.filter-checkbox {
    margin-left: 30px
}

    .filter-checkbox:first-child {
        margin-left: 0
    }

    div.dt-button-collection {
      width: 400px;
  }
   
  div.dt-button-collection button.dt-button {
      display: inline-block;
      width: 32%;
  }
  div.dt-button-collection button.buttons-colvis {
      display: inline-block;
      width: 49%;
  }
  div.dt-button-collection h3 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: 100;
      border-bottom: 1px solid #9f9f9f;
      font-size: 1em;
  }
  div.dt-button-collection h3.not-top-heading {
      margin-top: 10px;
  }